<a href="https://colab.research.google.com/github/SikandarHussain6858/Machine-Learning/blob/main/ML_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 1

In [ ]:
import pandas as pd
df = pd.read_csv("/content/Students Social Media Addiction.csv")
df.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

TASK 2

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Students Social Media Addiction.csv to Students Social Media Addiction (1).csv

In [ ]:
import pandas as pd
df = pd.read_csv("/content/Students Social Media Addiction.csv")
df.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

TASK 3

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/BindiChen/machine-learning/master/data-analysis/001-pandad-pipe-function/data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
!git clone https://github.com/BindiChen/machine-learning.git

Cloning into 'machine-learning'...
remote: Enumerating objects: 928, done.
remote: Counting objects: 100% (32/32), done.
remote: Compressing objects: 100% (28/28), done.
remote: Total 928 (delta 6), reused 4 (delta 4), pack-reused 896 (from 2)
Receiving objects: 100% (928/928), 12.04 MiB | 12.95 MiB/s, done.
Resolving deltas: 100% (378/378), done.

TASK 4

In [ ]:
import pandas as pd
df = pd.read_csv('/content/machine-learning/data-analysis/001-pandad-pipe-function/data/test.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

TASK 5

In [ ]:
# 1. Download dataset
!wget https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip

# 2. Download and rename
!wget https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip -O new_cats_and_dogs_filtered.zip

# 3. Download to specific location
!wget https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip -P /tmp/

# 4. Ignore SSL certificate (demo)
!wget https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip --no-check-certificate

# 5. Create URL list file
!echo "https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip" > dataset-urls.txt
!echo "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv" >> dataset-urls.txt

# 6. Download multiple files
!wget -i dataset-urls.txt

# 7. List files
!ls

--2026-01-22 10:12:23--  https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.101.207, 142.250.141.207, 142.251.2.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.101.207|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2026-01-22 10:12:24 ERROR 403: Forbidden.

--2026-01-22 10:12:24--  https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.101.207, 142.250.141.207, 142.251.2.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.101.207|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2026-01-22 10:12:24 ERROR 403: Forbidden.

--2026-01-22 10:12:24--  https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.101.207, 142.250.141.207, 142.251.2.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.101.207|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2026-01-22 10:12:24 ERROR 403: Forbidden.

--2026-01-22 10:12:24--  https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.101.207, 142.250.141.207, 142.251.2.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.101.207|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2026-01-22 10:12:24 ERROR 403: Forbidden.

--2026-01-22 10:12:24--  https://storage.googleapis.com/mledu-datasets/cats_and_dogs_filtered.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.101.207, 142.250.141.207, 142.251.2.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.101.207|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2026-01-22 10:12:24 ERROR 403: Forbidden.

--2026-01-22 10:12:24--  https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23278 (23K) [text/plain]
Saving to: pima-indians-diabetes.data.csv

pima-indians-diabet 100%[===================>]  22.73K  --.-KB/s    in 0.001s

2026-01-22 10:12:24 (40.1 MB/s) - pima-indians-diabetes.data.csv saved [23278/23278]

FINISHED --2026-01-22 10:12:24--
Total wall clock time: 0.2s
Downloaded: 1 files, 23K in 0.001s (40.1 MB/s)
 dataset-urls.txt		  sample_data
 machine-learning		 'Students Social Media Addiction (1).csv'
 new_cats_and_dogs_filtered.zip  'Students Social Media Addiction.csv'
 pima-indians-diabetes.data.csv

In [ ]:
import pandas as pd
df = pd.read_csv("/content/pima-indians-diabetes.data.csv")
df.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

TASK 6

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Students Social Media Addiction (1).csv")
df.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [ ]:
drive.flush_and_unmount()

TASK 7

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"sikandarhussain6858","key":"bd31708042a6a2520a1f21b502d6cfaa"}'}

In [ ]:
# STEP 3: Set Kaggle config directory
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()

In [ ]:
!chmod 600 kaggle.json

In [ ]:
!pip install -q kaggle

In [ ]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 141MB/s]

In [ ]:
!kaggle datasets download -d alexanderbader/forbes-billionaires-2021-30

Dataset URL: https://www.kaggle.com/datasets/alexanderbader/forbes-billionaires-2021-30
License(s): CC0-1.0
Downloading forbes-billionaires-2021-30.zip to /content
  0% 0.00/114k [00:00<?, ?B/s]
100% 114k/114k [00:00<00:00, 399MB/s]

In [ ]:
!unzip titanic.zip
!unzip forbes-billionaires-2021-30.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv
Archive:  forbes-billionaires-2021-30.zip
  inflating: forbes_billionaires_geo.csv