<a href="https://colab.research.google.com/github/SikandarHussain6858/Machine-Learning/blob/main/ML_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning Lab 2**

## **Task 1: Load Datasets & Identify X and y**

In [ ]:
# Loading Iris dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
columns = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
iris = pd.read_csv(url, names=columns)

# Features and label
X_iris = iris.drop("species", axis=1)
y_iris = iris["species"]

iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## **Task 2: Train / Validation / Test Split**

In [ ]:
from sklearn.model_selection import train_test_split

# 70% Train, 30% Temp
X_train, X_temp, y_train, y_temp = train_test_split(
    X_iris, y_iris,
    test_size=0.30,
    random_state=42,
    stratify=y_iris
)

# 15% Validation, 15% Test
X_val, X_test, y_val, y_test = train_test_split(
    X_temp, y_temp,
    test_size=0.50,
    random_state=42,
    stratify=y_temp
)

print("Train size:", len(X_train))
print("Validation size:", len(X_val))
print("Test size:", len(X_test))

print("\nClass distribution in Train:")
print(y_train.value_counts())

Train size: 105
Validation size: 22
Test size: 23

Class distribution in Train:
species
Iris-versicolor    35
Iris-setosa        35
Iris-virginica     35
Name: count, dtype: int64

## **Task 3: Baseline 1 – Majority Vote Classifier**

In [ ]:
# Majority class from training data
majority_class = y_train.value_counts().idxmax()
majority_class

'Iris-versicolor'

In [ ]:
# Error rate function
def error_rate(y_true, y_pred):
    return np.mean(y_true != y_pred)

In [ ]:
# Predictions
val_pred_majority = np.full(len(y_val), majority_class)
test_pred_majority = np.full(len(y_test), majority_class)

# Errors
val_error_majority = error_rate(y_val, val_pred_majority)
test_error_majority = error_rate(y_test, test_pred_majority)

val_error_majority, test_error_majority

(np.float64(0.6818181818181818), np.float64(0.6521739130434783))

## **Task 4: Baseline 2 – Random Classifier**

In [ ]:
classes = y_train.unique()
uniform_errors = []

for i in range(5):
    random_preds = np.random.choice(classes, size=len(y_test))
    err = error_rate(y_test, random_preds)
    uniform_errors.append(err)

uniform_errors

[np.float64(0.7391304347826086),
 np.float64(0.5652173913043478),
 np.float64(0.6956521739130435),
 np.float64(0.7391304347826086),
 np.float64(0.5652173913043478)]

In [ ]:
np.mean(uniform_errors), np.var(uniform_errors)

(np.float64(0.6608695652173913), np.float64(0.006351606805293006))

In [ ]:
class_probs = y_train.value_counts(normalize=True)

prop_errors = []

for i in range(5):
    random_preds = np.random.choice(
        class_probs.index,
        size=len(y_test),
        p=class_probs.values
    )
    err = error_rate(y_test, random_preds)
    prop_errors.append(err)

prop_errors

[np.float64(0.6521739130434783),
 np.float64(0.7391304347826086),
 np.float64(0.6086956521739131),
 np.float64(0.5652173913043478),
 np.float64(0.6521739130434783)]

In [ ]:
np.mean(prop_errors), np.var(prop_errors)

(np.float64(0.6434782608695653), np.float64(0.003327032136105859))

## **Task 5: Regression Baseline – Mean Predictor + MSE**

In [ ]:
!wget https://archive.ics.uci.edu/static/public/275/bike%2Bsharing%2Bdataset.zip

--2026-01-29 11:15:57--  https://archive.ics.uci.edu/static/public/275/bike%2Bsharing%2Bdataset.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘bike+sharing+dataset.zip’

bike+sharing+datase     [   <=>              ] 273.43K   406KB/s    in 0.7s

2026-01-29 11:15:59 (406 KB/s) - ‘bike+sharing+dataset.zip’ saved [279992]

## Unzip Dataset

In [ ]:
import zipfile

with zipfile.ZipFile('bike+sharing+dataset.zip', 'r') as zip_ref:
    zip_ref.extractall('.')

print('Successfully unzipped bike+sharing+dataset.zip')

Successfully unzipped bike+sharing+dataset.zip

## Load Bike Sharing Dataset

In [ ]:
import pandas as pd

bike = pd.read_csv('hour.csv')
bike.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [ ]:
y_bike = bike['cnt']
X_bike = bike.drop(['cnt', 'dteday', 'instant', 'casual', 'registered'], axis=1)

print("Features (X_bike) head:")
print(X_bike.head())
print("\nTarget (y_bike) head:")
print(y_bike.head())

Features (X_bike) head:
   season  yr  mnth  hr  holiday  weekday  workingday  weathersit  temp  \
0       1   0     1   0        0        6           0           1  0.24
1       1   0     1   1        0        6           0           1  0.22
2       1   0     1   2        0        6           0           1  0.22
3       1   0     1   3        0        6           0           1  0.24
4       1   0     1   4        0        6           0           1  0.24

    atemp   hum  windspeed
0  0.2879  0.81        0.0
1  0.2727  0.80        0.0
2  0.2727  0.80        0.0
3  0.2879  0.75        0.0
4  0.2879  0.75        0.0

Target (y_bike) head:
0    16
1    40
2    32
3    13
4     1
Name: cnt, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

# 70% Train, 30% Temp
X_train_bike, X_temp_bike, y_train_bike, y_temp_bike = train_test_split(
    X_bike, y_bike,
    test_size=0.30,
    random_state=42
)

# 15% Validation, 15% Test from the 30% temp set (50% of temp is 15% of total)
X_val_bike, X_test_bike, y_val_bike, y_test_bike = train_test_split(
    X_temp_bike, y_temp_bike,
    test_size=0.50,
    random_state=42
)

print("Train size:", len(X_train_bike))
print("Validation size:", len(X_val_bike))
print("Test size:", len(X_test_bike))

Train size: 12165
Validation size: 2607
Test size: 2607

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Calculate the mean of the target from the training set
mean_predictor_value = y_train_bike.mean()

# Use the mean to predict values for validation and test sets
y_val_pred_mean = np.full(len(y_val_bike), mean_predictor_value)
y_test_pred_mean = np.full(len(y_test_bike), mean_predictor_value)

# Calculate Mean Squared Error (MSE) for validation and test sets
mse_val_mean = mean_squared_error(y_val_bike, y_val_pred_mean)
mse_test_mean = mean_squared_error(y_test_bike, y_test_pred_mean)

print(f"Mean Predictor - Validation MSE: {mse_val_mean:.2f}")
print(f"Mean Predictor - Test MSE: {mse_test_mean:.2f}")

Mean Predictor - Validation MSE: 32428.38
Mean Predictor - Test MSE: 30823.27