<a href="https://colab.research.google.com/github/SikandarHussain6858/Machine-Learning/blob/main/pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

### Creating DataFrame

In [4]:
# using lists
student_data = [
    ['sikandar',100,80,10],
    ['umair',90,70,7],
    ['hassan',120,100,14],
    ['ali',80,50,2]
]

pd.DataFrame(student_data,columns=['name','iq','marks','package'])

       name   iq  marks  package
0  sikandar  100     80       10
1     umair   90     70        7
2    hassan  120    100       14
3       ali   80     50        2

In [6]:
# using dicts

student_dict = {
    'name':['nitish','ankit','rupesh','rishabh','amit','ankita'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}

students = pd.DataFrame(student_dict)
students.set_index('name',inplace = True)
students

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
ankita     0      0        0

In [10]:
# using read_csv
houses = pd.read_csv('/content/sample_data/california_housing_test.csv')
houses

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [13]:
psl = pd.read_excel("/content/PSL matches dataset.xlsx")
psl

,Year,Team 1,Team 2,Ground,Winner,Margin,Month,Day,Date,Season
0,2016.0,Islamabad United,Quetta Gladiators,Dubai (DSC),Quetta Gladiators,8 wickets,February,4.0,2016-02-04,PSL-16
1,2016.0,Karachi Kings,Lahore Qalanders,Dubai (DSC),Karachi Kings,7 wickets,February,5.0,2016-02-05,PSL-16
2,2016.0,Pishawar Zalmi,Islamabad United,Dubai (DSC),Pishawar Zalmi,24 runs,February,5.0,2016-02-05,PSL-16
3,2016.0,Quetta Gladiators,Karachi Kings,Dubai (DSC),Quetta Gladiators,8 wickets,February,6.0,2016-02-06,PSL-16
4,2016.0,Lahore Qalanders,Pishawar Zalmi,Dubai (DSC),Pishawar Zalmi,9 wickets,February,6.0,2016-02-06,PSL-16
...,...,...,...,...,...,...,...,...,...,...
247,2023.0,Lahore Qalanders,Karachi Kings,Lahore,Karachi Kings,86 runs,March,12.0,2023-03-12,PSL-23
248,2023.0,Lahore Qalanders,Multan Sultans,Lahore,Multan Sultans,84 runs,March,15.0,2023-03-15,PSL-23
249,2023.0,Islamabad United,Pishawar Zalmi,Lahore,Pishawar Zalmi,12 runs,March,16.0,2023-03-16,PSL-23
250,2023.0,Lahore Qalanders,Pishawar Zalmi,Lahore,Lahore Qalanders,4 wickets,March,17.0,2023-03-17,PSL-23
251,2023.0,Multan Sultans,Lahore Qalanders,Lahore,Lahore Qalanders,1 run,March,18.0,2023-03-18,PSL-23

### DataFrame Attributes and Methods

In [15]:
# shape
print(houses.shape)
print(psl.shape)

(3000, 9)
(252, 10)

In [17]:
# dtypes
houses.dtypes
psl.dtypes

Year             float64
Team 1            object
Team 2            object
Ground            object
Winner            object
Margin            object
Month             object
Day              float64
Date      datetime64[ns]
Season            object
dtype: object

In [19]:
# index
print(houses.index)
print(psl.index)

RangeIndex(start=0, stop=3000, step=1)
RangeIndex(start=0, stop=252, step=1)

In [20]:
# columns
print(houses.columns)
print(psl.columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')
Index(['Year', 'Team 1', 'Team 2', 'Ground', 'Winner', 'Margin', 'Month',
       'Day', 'Date', 'Season'],
      dtype='object')

In [21]:
# head and tail
houses.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [22]:
psl.tail(2)

,Year,Team 1,Team 2,Ground,Winner,Margin,Month,Day,Date,Season
250,2023.0,Lahore Qalanders,Pishawar Zalmi,Lahore,Lahore Qalanders,4 wickets,March,17.0,2023-03-17,PSL-23
251,2023.0,Multan Sultans,Lahore Qalanders,Lahore,Lahore Qalanders,1 run,March,18.0,2023-03-18,PSL-23

In [23]:
# sample
psl.sample(5)

,Year,Team 1,Team 2,Ground,Winner,Margin,Month,Day,Date,Season
114,2019.0,Islamabad United,Pishawar Zalmi,Karachi,Pishawar Zalmi,48 runs,March,15.0,2019-03-15,PSL-19
183,2021.0,Multan Sultans,Pishawar Zalmi,Abu Dhabi,Multan Sultans,47 runs,Jun,24.0,2021-06-24,PSL-21
111,2019.0,Lahore Qalanders,Multan Sultans,Karachi,Multan Sultans,7 wickets,March,11.0,2019-03-11,PSL-19
86,2019.0,Islamabad United,Multan Sultans,Dubai (DSC),Multan Sultans,5 wickets,February,16.0,2019-02-16,PSL-19
82,2019.0,Islamabad United,Lahore Qalanders,Dubai (DSC),Islamabad United,5 wickets,February,14.0,2019-02-14,PSL-19

In [25]:
# info
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [26]:
psl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    251 non-null    float64
 1   Team 1  251 non-null    object
 2   Team 2  251 non-null    object
 3   Ground  251 non-null    object
 4   Winner  251 non-null    object
 5   Margin  244 non-null    object
 6   Month   251 non-null    object
 7   Day     251 non-null    float64
 8   Date    251 non-null    datetime64[ns]
 9   Season  251 non-null    object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 19.8+ KB

In [27]:
# describe
houses.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [28]:
psl.describe()

              Year         Day                           Date
count   251.000000  251.000000                            251
mean   2019.733068   15.382470  2019-12-02 10:19:36.095617536
min    2016.000000    1.000000            2016-02-04 00:00:00
25%    2018.000000    9.500000            2018-03-05 00:00:00
50%    2020.000000   15.000000            2020-02-28 00:00:00
75%    2022.000000   22.000000            2022-01-30 00:00:00
max    2023.000000   31.000000            2023-03-18 00:00:00
std       2.215505    7.914868                            NaN

In [29]:
# isnull
houses.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [31]:
psl.isnull().sum()

Year      1
Team 1    1
Team 2    1
Ground    1
Winner    1
Margin    8
Month     1
Day       1
Date      1
Season    1
dtype: int64

In [30]:
# duplicated
houses.duplicated().sum()

np.int64(0)

In [32]:
psl.duplicated().sum()

np.int64(0)

### Math Methods

In [36]:
# sum -> axis argument
houses.sum(axis=0)

longitude            -3.587676e+05
latitude              1.069062e+05
housing_median_age    8.653600e+04
total_rooms           7.798736e+06
total_bedrooms        1.589852e+06
population            4.208396e+06
households            1.469736e+06
median_income         1.142182e+04
median_house_value    6.175388e+08
dtype: float64

### Selecting cols from a DataFrame

In [41]:
# single cols
houses['total_rooms']

0       3885.0
1       1510.0
2       3589.0
3         67.0
4       1241.0
         ...
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, Length: 3000, dtype: float64

In [43]:
psl['Ground']

0      Dubai (DSC)
1      Dubai (DSC)
2      Dubai (DSC)
3      Dubai (DSC)
4      Dubai (DSC)
          ...
247         Lahore
248         Lahore
249         Lahore
250         Lahore
251         Lahore
Name: Ground, Length: 252, dtype: object

In [44]:
# multiple cols
houses[['total_rooms','total_bedrooms']]

      total_rooms  total_bedrooms
0          3885.0           661.0
1          1510.0           310.0
2          3589.0           507.0
3            67.0            15.0
4          1241.0           244.0
...           ...             ...
2995       1450.0           642.0
2996       5257.0          1082.0
2997        956.0           201.0
2998         96.0            14.0
2999       1765.0           263.0

[3000 rows x 2 columns]

In [47]:
psl[['Team 1','Team 2','Winner']]

                Team 1             Team 2             Winner
0     Islamabad United  Quetta Gladiators  Quetta Gladiators
1        Karachi Kings   Lahore Qalanders      Karachi Kings
2       Pishawar Zalmi   Islamabad United     Pishawar Zalmi
3    Quetta Gladiators      Karachi Kings  Quetta Gladiators
4     Lahore Qalanders     Pishawar Zalmi     Pishawar Zalmi
..                 ...                ...                ...
247   Lahore Qalanders      Karachi Kings      Karachi Kings
248   Lahore Qalanders     Multan Sultans     Multan Sultans
249   Islamabad United     Pishawar Zalmi     Pishawar Zalmi
250   Lahore Qalanders     Pishawar Zalmi   Lahore Qalanders
251     Multan Sultans   Lahore Qalanders   Lahore Qalanders

[252 rows x 3 columns]

### Selecting rows from a DataFrame

- **iloc** - searches using index positions
- **loc** - searches using index labels

In [48]:
# single row
houses.iloc[5]

longitude              -119.5600
latitude                 36.5100
housing_median_age       37.0000
total_rooms            1018.0000
total_bedrooms          213.0000
population              663.0000
households              204.0000
median_income             1.6635
median_house_value    67000.0000
Name: 5, dtype: float64

In [50]:
# multiple row
houses.iloc[:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [51]:
# fancy indexing
houses.iloc[[0,4,5]]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0

### Selecting both rows and cols

In [57]:
houses.iloc[0:3,0:3]

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0

### Filtering a DataFrame

In [59]:
psl.head(2)

,Year,Team 1,Team 2,Ground,Winner,Margin,Month,Day,Date,Season
0,2016.0,Islamabad United,Quetta Gladiators,Dubai (DSC),Quetta Gladiators,8 wickets,February,4.0,2016-02-04,PSL-16
1,2016.0,Karachi Kings,Lahore Qalanders,Dubai (DSC),Karachi Kings,7 wickets,February,5.0,2016-02-05,PSL-16

In [60]:
# from existing ones
houses.dropna(inplace=True)

### Important DataFrame Functions

In [61]:
# astype
psl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    251 non-null    float64
 1   Team 1  251 non-null    object
 2   Team 2  251 non-null    object
 3   Ground  251 non-null    object
 4   Winner  251 non-null    object
 5   Margin  244 non-null    object
 6   Month   251 non-null    object
 7   Day     251 non-null    float64
 8   Date    251 non-null    datetime64[ns]
 9   Season  251 non-null    object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 19.8+ KB

Handling missing values in psl data

simply drop the null values

In [67]:
psl.dropna(inplace=True)

In [68]:
psl.shape

(244, 10)